// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2023 VideologyInc
 *
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

&{/chosen} {
	overlays {
		cam0-gmsl-imx662 = __TIMESTAMP__;
	};
};

&csi0_i2c {
	#address-cells = <1>;
	#size-cells = <0>;

	framos_dser_a: max96792_a@6a {
		compatible = "framos,max96792";
		reg = <0x6a>;
		csi-mode = "2x4";
		max-src = <1>;
		reset-gpios = <&gpio_expander 9 GPIO_ACTIVE_LOW>;
		status = "okay";
	};

	framos_ser_prim_a: max96793_prim_a@42 {
		compatible = "framos,max96793";
		reg = <0x42>;
		gmsl-dser-device = <&framos_dser_a>;
		is-prim-ser;
		status = "okay";
	};

	sensor_csi0: imx662_mipi@1a {
		compatible = "framos,imx662";
		reg = <0x1a>;
		def-addr = <0x1a>;
		clocks = <&clk_dummy>;
		clock-names = "csi_mclk";
		csi_id = <0>;
		mclk = <24000000>;
		mclk_source = <0>;
		status = "okay";
		// rst-gpios = <&gpio_expander 9 GPIO_ACTIVE_LOW>;

		gmsl = "gmsl";
		gmsl-ser-device = <&framos_ser_prim_a>;
		gmsl-dser-device = <&framos_dser_a>;

		gmsl-link {
			src-csi-port = "b";
			dst-csi-port = "a";
			serdes-csi-link = "a";
			csi-mode = "1x4";
			st-vc = <0>;
			vc-id = <0>;
			num-lanes = <4>;
			streams = "raw12";
		};

		port {
			mipi_0_ep: endpoint {
				remote-endpoint = <&mipi_csi0_ep>;
				data-lanes = <1 2 3 4>;
				clock-lanes = <0>;
				max-pixel-frequency = /bits/ 64 <500000000>;
			};
		};
	};
};

&mipi_csi_0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	port@0 {
		reg = <0>;
		mipi_csi0_ep: endpoint {
			remote-endpoint = <&mipi_0_ep>;
			data-lanes = <4>;
			csis-hs-settle = <13>;
			csis-clk-settle = <2>;
			csis-wclk;
		};
	};
};

&cameradev {
	status = "okay";
};

&isi_0 {
	status = "disabled";
};

&isp_0 {
	status = "okay";
};

&dewarp {
	status = "okay";
};
